{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}
	<div class="row justify-content-center p-3">
		<img src={{ asset('images/core/poedia-logo-light.svg') }} alt="Poedia" class="login-logo">
	</div>
	
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3 text-center">
                Vous êtes connecté en tant que
				{{ app.user.userIdentifier }},
				<a href="{{ path('app_logout') }}">Déconnexion</a>
			</div>
		{% endif %}

		<div class="container login-box">
			<h1 class="h3 mb-3 font-weight-normal">Ravis de vous revoir !</h1>
			<div class="user-box">
				<label for="inputEmail">Adresse email</label>
				<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control input p-1" autocomplete="email" required autofocus>
			</div>

			<div class="user-box">
				<label for="inputPassword">Mot de passe</label>
				<input type="password" name="password" id="inputPassword" class="form-control input p-1" autocomplete="current-password" required>
			</div>
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			<a href="#">
				<button class="btn btn-lg btn-primary " type="submit">
					<i class="fas fa-sign-in-alt"></i> 
                    Se connecter
				</button>
				<span></span>
			</a>
		</div>


	</form>
{% endblock %}
